<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='{{ url_for("static", filename="base.css") }}'>
    <script src='{{ url_for("static", filename="base.js") }}'></script>
    <title>{{ site_title }}</title>
</head>
<body>
    <h2>{{ site_title }}</h2>

    <p>
    <h3>Ver precios de criptomonedas</h3>
    <ul>
        {% for coin in ['BTC', 'ETH', 'LTC'] %}
        <li>
        <a href="{{ url_for('datos', symbol=coin) }}">
            <b>{{ coin }}</b>
        </a>
        {% endfor %}
    </ul>
    </p>

</body>
</html>