<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='{{ url_for("static", filename="base.css") }}'>
    <script src='{{ url_for("static", filename="base.js") }}'></script>
    <title>{{ site_title }}</title>
</head>
<body>
    <h2>{{ site_title }}</h2>

    <p>
    <h3>Ver precios de criptomonedas</h3>
    <ul id="lista-monedas">
        {% for coin in ['BTC', 'ETH', 'LTC'] %}
        <li class="monedas">
        <a href="{{ url_for('datos', symbol=coin) }}">
            {{ coin }}
        </a>
        {% endfor %}
    </ul>
    </p>
    <p>
        <input type="text" id="nueva-moneda" placeholder="Introduce una nueva moneda">
        <button id="boton-nueva-moneda" onclick="agregar_moneda()">Añadir</button>
    </p>

</body>
</html>