<html lang="es">
<head>
  <meta charset="utf-8">

  <title>Mi primera web</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Este es mi sitio web">
  <meta name="author" content="Juan Perez">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

    <body>
        <h1>Hola Mundo</h1>
        <h2>Probando ando</h2>
        <p>Python <b>{{ python_version }}</b></p>
        <p>IP del servidor <b>{{ ip_publica }}</b></p>
        <p>IP del cliente <b>{{ direccion }}</b></p>
        
    </body>
</head>